<footer>
    <div class="menu2">

        <ul class="link1">
            <li class="links"><a href="https://adalab.es/" target="_blank"></a>Articles </li>
            <li>Books </li>
            <li>Events </li>
            <li>Reasons </li>
            <li>Tips </li>
        </ul>

        <ul class="link2">
            <li>Twitter </li>
            <li>Instagram </li>
            <li>Mastodon.social </li>

            <div class="copy">
                <small>©2017 <br>
                    we ❤︎ components </small>
            </div>


        </ul>
    </div>
</footer>