<footer>
    <div class="menu">

        <ul class="link1">
            <li>Articles </li>
            <li>Books </li>
            <li>Events </li>
            <li>Reasons </li>
            <li>Tips </li>
        </ul>
    </div>

    <div>
        <ul class="link2">
            <li>Twitter </li>
            <li>Instagram </li>
            <li>Mastodon.social </li>

            <div class="copy">
                <small>©2017 <br>
                    we ❤︎ components </small>
            </div>


        </ul>
    </div>
</footer>