<section class="container-reasons">
    <h2 class="title2">3 Reasons To Purchase</h2>

    <article class="articles">
        <h4 class="subtitle">Ut sed metus</h4>
        <p class="text">Lorem ipsum dolor sit amet, consectetur.</p>
    </article>

    <article class="articles">
        <h4 class="subtitle">Curabitur ac erat</h4>
        <p class="text">Mauris mattis urna quis lorem molestie.</p>
    </article>

    <article class="articles">
        <h4 class="subtitle">Morbi dictum</h4>
        <p class="text">Aliquam in dolor et dolor tincidunt</p>
    </article>
    <div></div>
    <button class="reasons">More Reasons</button>

</section>