footer {
    background-color: #304268;
    color: white;


    .menu2 {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        text-transform: uppercase;

    }

    .link1 {
        align-items: center;
        margin: 30px;
        list-style: none;
        padding: 0;
        font-size: 16px;
    }

    .link2 {
        align-items: center;
        margin: 30px;
        list-style: none;
        padding: 0;
        font-size: 16px;
    }

    .copy {
        align-items: center;
        margin: 30px;
        list-style: none;
        padding: 0;
        font-size: 14px;
    }
}