footer {
    background-color: #304268;
    color: white;

    .menu2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        text-transform: uppercase;
        list-style: none;

    }

    .link1 {
        align-items: center;
        margin-top: 50px;
        list-style: none;
        padding: 0;
        font-size: 16px;
        padding: 30px;

    }

    .link2 {
        align-items: center;
        margin: 30px;
        list-style: none;
        padding: 0;
        font-size: 16px;

    }

    .copy {
        align-items: center;
        margin: 30px;
        list-style: none;
        padding: 0;
        font-size: 14px;
    }
}