.container {
    background-color: $color2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}

.small-tips {
    font-size: 14px;
    color: $color3;
    font-family: $text-font;
}

.looking {
    font-family: $title-font;
    font-size: 24px;
}

.text {
    font-family: $text-font;
    font-size: 18px;
}


.go {
    font-size: 20px;
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px $color1;
    margin-top: 20px;
    background-color: $color2;
}

@media all and (min-width: 768px) {}

@media all and (min-width: 1200px) {
    display: flex;
    justify-content: center;
}