// @import 'core/variables';
// @import 'core/reset';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

* {
    margin: 0;
    box-sizing: border-box;
}

// header
.menu {
    background-color: #0271bc;
    width: 44px;
    height: 44px;
    position: relative;
    z-index: 100;
    ;
}

.link {
    background-color: black;
    border: blanchedalmond;
}

header {
    background-image: url(../images/cover.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    z-index: -500;
}

.text-header {
    color: white;
    justify-content: center;
}


// end header


body {
    background-color: blueviolet;
    height: 100%;

}

main {
    background-color: chartreuse;

}

footer {
    background-color: #304268 color: white;
    display: flex;
    flex-direction: row;
}

.menu {
    text-decoration: none;
}